*{
    font-family: "poppins", "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --orange: #f77737
    --fade: rgba(0, 255, 255, 0.2);
    --font: whitesmoke;
    --main: aqua;
    /* --main: blue; */
    --black: black;
    --gray: gray;
}
.starting.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 06);
}
section{
    height: 100vh;
}
.align{
    display: flex;
    flex-direction: column;
    
}
.background{
    background: transparent;
}
.starting{
    position: relative;
}
.img-fit{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: -1;
}
.index{
    z-index: 100;
}
.landing{
    height: 100%;
}
.social-links i {
    margin-right: 10px;
    font-size: 30px;
    transition: ease-in-out 0.7s;
    color: var(--gray);
}

.social-links i:hover {
    color: var(--main);
}

.align{
    display: grid;
    grid-column-start: 1;
}


/*............. about us...........  */
.about-display{
    grid-template-columns: 30% 65%;
}
.info h3 {
    font-size: 40px;
}

h3 span {
    color: var(--main);
}

.tab-titles {
    margin: 20px 0;
    display: flex;
}

.tab-links,
.tab-links2 {
    margin-right: 30px;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
}

.tab-links::after,
.tab-links2::after {
    content: "";
    background-color: var(--main);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.tab-links.active-links::after {
    width: 50%;
}

.tab-content ul li {
    margin: 10px 0;
}

.tab-content ul li span {
    color: var(--main);
    font-size: 14px;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}

/* ...............servicepage............. */

.header h3{
    color: var(--font);
}

.service{
    background-color: var(--black);
    clear: both;
    position: relative;
    text-align: center;
    /* padding-bottom: 40px; */
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    /* font-size: clamp(10px, 20px, 10px); */
}

.skills .box {
    width: 340px;
    margin: 10px;
    border: 3px dotted var(--font);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.skills div {
    padding: 20px;
    border-radius: 10px;
    background: var(--gray);
    transition: background 0.5s, transform 0.5s ease-in;
    position: sticky;
    -webkit-transition: background 0.5s, transform 0.5s ease-in;
    -moz-transition: background 0.5s, transform 0.5s ease-in;
    -ms-transition: background 0.5s, transform 0.5s ease-in;
    -o-transition: background 0.5s, transform 0.5s ease-in;
}

.skills div:hover {
    background: var(--black);
    color: var(--gray);
    border: 1px dotted var(--gray);
    transform: translateY(-10px);
}

.skills i {
    font-size: 40px;
    align-self: center;
    color: var(--main);
}

.skills div h4 {
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.skilss div p {
    font-weight: 500;
}




@media only screen and (max-width: 600px){

    /* ***********  about us  ************** */
    
    body{
        scrollbar-width: 0;
        max-width: 100%;
        overflow: hidden;
    }
    .landing{
        position: relative;
        width: 100%;
    }
    .starting.sticky{
        padding: 10px;
    }
    .push{
        padding-top: 20px;
    }
    .push .align{
        font-size: smaller;
    }
    #about{
        padding-top: 20px;
    }
    .info .fold{
        display: flex;
        flex-wrap: wrap;
    }
    .about-display img{
        display: none;
    }
    .info h3{
        text-align: center;
    }
    .skills .box{
        border: 2px dashed var(--font);
    }
    .push{
        display: flex;
        flex-direction: column-reverse;
    }
}